
@{
    ViewBag.Title = "redirect";
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<h2>Админ</h2>

<a href="/Orders/Index">
    <button class="w-100 btn btn-lg btn-primary">Все об оборудовании</button>
</a>
<br />
<br />
<a href="/OrderHistories/Index">
    <button class="w-100 btn btn-lg btn-primary">Все заказы</button>
</a>

